name: FastAPI CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-mysql-devops:latest .

      - name: Run containers
        run: |
          docker compose up -d

      - name: Wait for API health
        run: |
          for i in {1..10}; do
            if curl -f http://localhost:8000/health; then
              exit 0
            fi
            sleep 5
          done
          exit 1

      - name: Run API tests
        run: |
          pip install pytest httpx
          pytest

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-mysql-devops:latest
